<div class="container-global">

    <div class="container-header">
        <ul>
            <li><a href="#">Serviços</a></li>
            <li><a href="#">Portfólio</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </div>

    <div class="container-heroBanner">
        <div class="conteudo__heroBanner">
            <p class="texto">Ink CIA</p>
            <h1 class="titulo">Taunted</h1>
            <p class="texto2">Conhecido por seus desenhos intrincados e vibrantes, traz uma mistura única de criatividade e precisão a cada tatuagem, transformando a pele em uma tela de arte impressionante.
            </p>
            <button class="verMais">
                <a href="#" class="verMais__botao">Ver Mais</a>
            </button>
        </div>
    </div>

</div>
