
.card__things img {
    height: 15em;
    width: 15em;
    background-size: contain;
    border-radius: 50%;
}

.card__things {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    border: 1px solid white;
    padding: 5em 2em;
    border-radius: 40px;

    transition: .2s;
}

.text {
    text-align: center;
    color: whitesmoke;
    margin-top: 4em;
}

.card {
    transition: .3s;
}

.card__things:hover {
    border-radius: 0px;
    padding: 6em 3em;
}

.card:hover {
    box-shadow: rgba(255, 255, 255, 0.664) 1.95px 1.95px 20px;
}
